:root {
    --transition: all 0.4s linear;
    --hover-color: #926BFF;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1204px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 24px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__container .logo {
    max-width: 141px;
}

.header__container ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__container ul li a {
    color: #111;
    padding: 4px 12px;
    justify-content: center;
    font-weight: 500;
    transition: var(--transition);
}

.header__container ul li a:hover {
    color: var(--hover-color);
}

.header__container .bar i
{
    font-size: 24px;
    display: none;
}
.header__container input
{
    display: none;
}

/* Hero styles  */

.hero__container {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.hero__container .brends {
    display: flex;
    align-items: center;
    gap: 48px;
}

.hero__container .block .item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero__container .block .item:first-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero__container .block .item.line::after {
    content: '';
    width: 2px;
    height: 37px;
    background-color: #ccc;
    position: absolute;
    right: -24px;
}

.hero__container .title h1 {
    width: 592px;
    color: #202027;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 24px;
    margin-bottom: 24px;
}

.hero__container .title h1 span {
    color: #16E09E;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hero__container .title p {
    width: 393px;
    color: #202027;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 30px */
    margin-bottom: 48px;
}

.hero__container .title p span {
    color: #7C4EFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
}

.hero__container .title form button {
    padding: 16px 39px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(231deg, #926BFF 21.73%, #7C4EFF 72.58%);
    box-shadow: 0px 22px 24px -16px rgba(86, 76, 234, 0.60), 0px 14px 12px -8px rgba(86, 76, 234, 0.60), 0px 8px 6px -6px rgba(86, 76, 234, 0.60);
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: all-small-caps;
    letter-spacing: 0.36px;
}

.hero__container .title form button:hover {
    background: rgb(146, 107, 255);
    background: linear-gradient(90deg, rgba(146, 107, 255, 1) 30%, rgba(0, 0, 0, 1) 75%);
}
.hero__container .img img
{
    max-width: 645px;
    width: 100%;
    min-width: 100px;
}














@media screen and (max-width:1240px) {
    .header
    {
        padding: 30px;
    }
    .hero__container
    {
        padding: 30px;
    }
}
@media screen and (max-width:1000px) {
    .hero__container .title
    {
        margin-top: 10%;
    }    
    .hero__container .title h1
    {
        font-size: 40px;
    }
}
@media screen and (max-width:900px){
    .header__container ul
    {
        width: 40%;
        height: 100%;
        position: absolute;
        left: -100%;
        top: 0px;
        background-color: white;
        flex-direction: column;
        padding-top: 100px;
        z-index: 100;
        transition: 0.5s;
        background-image: url(../imgs/logo.svg),url(../imgs/globus.png);
        background-repeat: no-repeat;
        background-size: 60%, 10%;
        background-position: 30px 30px, right 20px top 40px;
        border-right: 1px solid #ccc;
    }
    .header__container ul::after
    {
        content: '@ Muallif Salohiddin';
        position: absolute;
        bottom: 20px;
    }
    .header__container ul li 
    {
        margin-top: 40px;
    }
    
    .header__container .globus
    {
        display: none;
    }
    .header__container .bar i
    {
        display: block;
    }
    .header__container #check:checked + ul
    {
        left: 0px;   
    }
    .hero__container .img img
    {
        display: none;
    }
}
@media screen and (max-width:650px){
    .hero__container
    {
        max-width: 650px;
        width: 100%;
        text-align: center;
    }
    .hero__container .brends
    {
        justify-content: center;
    }
    .hero__container .title h1
    {
        width: 100%;
    }
    .hero__container .title p
    {
        margin: 0px auto;
        margin-bottom: 40px;
    }
}








